* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  .searchBar {
    position: relative;
    top: 14px;
    left: -8%;
}
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0c283e;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #00233f;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

#logo {
    width: 80%;
}

.navbar-dark .navbar-brand {
    color: #7fff00;
    font-family: cursive;
    font-weight: bold;
    font-size: 43px;
    font-style: oblique;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 38px;
    font-weight: 300;
}